<!DOCTYPE html>
<html>
<head>
    <title>Poonaville | Login</title>
    <style type="text/css">
        body {
            width: 45em;
            margin: auto;
            margin-top: 5em;
        }
    </style>
</head>
<body>
    <h3>Login</h3>
    <p>
        Don't have an account? <a href="/signup/">Sign up</a> now.
    </p>
    <form method="POST">
        <p>
            <label for="pv-email"><h5>EMAIL</h5></label>
            <input type="email" name="pv-email" id="pv-email">
        </p>

        <p>
            <label for="pv-password"><h5>PASSWORD</h5></label>
            <input type="password" name="pv-password" id="pv-password">
        </p>

        <p><input type="submit" name="pv-submit" value="Login"></p>
    </form>
</body>
</html>
