<!DOCTYPE html>
<html>
<head>
    <title>Poonaville | Login</title>
    <style type="text/css">
        body {
            width: 45em;
            margin: auto;
            margin-top: 5em;
        }
    </style>
</head>
<body>
    <h3>Login</h3>
    <p>
        Don't have an account? <a href="/signup/">Sign up</a> now.
    </p>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            <label>{{ form.email.label }}</label><br/>
            {{ form.email }}
        </p>

        <p>
            <label>{{ form.password.label }}</label><br/>
            {{ form.password }}
        </p>

        <p>
            {{ form.submit }}
        </p>
    </form>
</body>
</html>
